.topology-holder {
    transition: width 0.4s ease-in, height 0.4s ease-in;
    display: block;
}

.topology {
    transition: transform 0.4s;
}

.topology .topology-spoke {
    transition: transform 0.4s;
}

.topology .detail {
    transition: stroke-dasharray 0.4s;
    stroke-width: 4px;
    stroke: #ddd;
    fill: transparent;
}

.topology .detail-left {
    stroke: #333;
}

.topology .detail-right {
    stroke: #666;
}

.topology text {
    text-anchor: middle;
    dominant-baseline: middle;
}
