body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App-intro {
    text-align: left;
    margin: 10px;
}

.tree {
    margin: 0;
    list-style: none;
    padding-left: 18px;
}

.fa {
    width: 18px;
    height: 18px;
}

.tree-icon {
    display: inline-block;
    transition: transform 0.2s;
    transform-origin: 50%;
}

.r90 {
    transform: rotate(90deg);
}

.disabled {
    color: #999;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
    color: #000;
}

.grey {
    color: #999;
}

.bold {
    font-weight: bold;
}

.debounced-input {
    padding: 1px;
    padding-right: 2px;
    border-width: 1px;
    border-style: inset;
    display: inline-block;
}

.debounced-input:focus-within {
    outline: -webkit-focus-ring-color auto 5px;
}

.debounced-input>input {
    border: none;
    outline: none;
    padding: 0;
}

.debounced-input>i {
    vertical-align: middle;
}
